<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="UTF-8">
    <title></title>

    <style>
        .css1{
            background-color: red;
        }

        .css2{
            background-color: brown;
        }

    </style>
</head>
<body ng-controller="Demo">



<form style="border: solid white; width: 300px;" ng-show="updateShow">
    <p><label class="label_input">教师号</label><input type="text" id="tid" name="id" class="text_field"/></p>
    <p><label class="label_input">姓名</label><input type="text" id="name" name="id" class="text_field"/></p>
    <p><label class="label_input">年龄</label><input type="text" id="age" name="name" class="text_field"/></p>
    <p><label class="label_input">性别</label><input type="text" id="sex" name="name" class="text_field"/></p>
    <p><label class="label_input">学院</label><input type="text" id="dname" name="effective" class="text_field"/></p>



</form>

<button type="button" value="提交" onclick="pleaseSubmit()">提交</button>
<script src="../third-party/jquery/jquery-2.1.4.min.js"></script>
<script src="../third-party/bootstrap3.3.7dist/js/bootstrap.min.js"></script>
<script>
    //获取url参数
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    function pleaseSubmit() {
        var tid = $("#tid").val();
        var name = $("#name").val();
        var age = $("#age").val();
        var sex = $("#sex").val();
        var dname = $("#dname").val();

        console.log("start ajax");
        $.ajax({
            url: '/lab/insertTeacher',
            dataType: 'json',
            type: 'post',
            data: {
                tid:tid,
                name: name,
                age: age,
                sex:sex,
                dname: dname
            },
            success: function (data) {
                console.log(data)
                if(data.code==41) {
                    alert("success!");
                }

            }
        })

    };

</script>


</body>
</html>
